<html lang="ru">
<head>
    <%- include('layouts/header'); -%> 
</head>
<body class="matches-img">
    <%- include('layouts/navbar'); -%>
    <h1 class="text-center">Новый матч</h1>
    <hr>
    <div class="buttons-top">
        <button type="button" class="btn btn-primary btn-new-match">
            <a href="/matches">Список матчей</a>
        </button>
    </div>
    <!--Main Content-->
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mx-auto matches-block">
                <form action="/matches/store" method="POST">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Дата</label>
                            <input type="text" class="form-control" placeholder="2021.03.22"
                                id="date" name="date">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Лига</label>
                            <br>
                            <div class="dropdown">
                                <select id="_id%" name="league" >
                                    <% for (var i=0; i < leagues.length; i++) { %>
                                    <option value="<%=leagues[i].name%>"
                                            id="<%=leagues[i]._id%>" name="responsible"
                                    >
                                        <%=leagues[i].name%></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Город</label>
                            <input type="text" class="form-control" 
                                id="city" name="city"></input>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Стадион</label>
                            <div class="dropdown">
                                <select id="_id%" name="stadium" >
                                    <% for (var i=0; i < stadiums.length; i++) { %>
                                        <option value="<%=stadiums[i].name%>"
                                            id="<%=contacts[i]._id%>" name="stadium"
                                            >
                                            <%=stadiums[i].name%></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <script>
                        $('select#cities').on('change', function() {
                        $('input[name="city"]').val(this.value);
                        });
                    </script>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Команда 1</label>
                            <input type="text" class="form-control" 
                                id="team_1" name="team_1"></input>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Команда 2</label>
                            <input type="text" class="form-control" 
                                id="team_2" name="team_2"></input>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Время по МСК</label>
                            <input type="datetime" class="form-control" 
                                id="time" name="time"></input>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Ответственный</label>
                            <br>
                            <div class="dropdown">
                                <select id="_id%" name="responsible" >
                                    <% for (var i=0; i < contacts.length; i++) { %>
                                    <option value="<%=contacts[i].name%>"
                                            id="<%=contacts[i]._id%>" name="responsible"
                                    >
                                        <%=contacts[i].name%></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Комментатор</label>
                            <br>
                            <div class="dropdown">
                                <select id="_id%" name="commentator" >
                                    <% for (var i=0; i < contacts.length; i++) { %>
                                        <option value="<%=contacts[i].name%>"
                                            id="<%=contacts[i]._id%>" name="commentator"
                                            >
                                            <%=contacts[i].name%></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Локация комментатора (На месте/Удалённо)</label>
                            <textarea row=5 class="form-control" 
                                id="comment" name="comment"></textarea>
                        </div>
                    </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"
                        id="sendMessageButton">Добавить матч</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('layouts/scripts'); -%>
</body>
</html>