
<html lang="ru">
    <head>
        <%- include('layouts/header'); -%> 
    </head>
    <body class="matches-img">
        <%- include('layouts/navbar'); -%>
        <!--Page Header-->
        <div class="overlay">
    
        </div>
        <h1 class="text-center">Стадион</h1>
        <hr>
        <div class="buttons-top">
            <button type="button" class="btn btn-primary btn-new-match">
                <a href="/matches">Список матчей</a>
            </button>
            <button type="button" class="btn btn-primary btn-new-match">
                <a href="/match/new">Новый матч</a>
            </button>
            <button type="button" class="btn btn-primary btn-new-match">
                <a href="/stadiums/new">Новый стадион</a>
            </button>
            <button type="button" class="btn btn-primary btn-new-match">
                <a href="#">Дополнить информацию</a>
            </button>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto test text-center matches-block">
                    <h4 style="text-decoration: underline;"><%=stadium.name%></h4>
                    <h4>Город: <%=stadium.city%></h4>
                    <address><%=stadium.address%></address>
                    <h5>Ответственный: <a href="/contact/<%=stadiumcontact._id%>"><%=stadiumcontact.name%></a></h5>
                    <h6>Добавить фото ( потом )</h6>
                    <h5>Интернет: <%=stadium.ethernet%></h5>
                    <h4>Комментарий: <%=stadium.comment%></h4>
                </div>
            </div>
        </div>
        <%- include('layouts/scripts'); -%>
    </body>
    </html>